<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>CMS - Configurações</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="shortcut icon" href="#" />

    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/simple-sidebar.css" rel="stylesheet">
    <script src="assets/axios.js"></script>
    <script src="assets/vue.js"></script>
</head>
<body>
    <div class="d-flex" id="wrapper">

        <div class="bg-light border-right" id="sidebar-wrapper" w3-include-html="assets/sideMenu.html"></div>

        <div id="page-content-wrapper" class="app">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" w3-include-html="assets/topMenu.html"></nav>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 pb-5 pt-2">
                        <form id="frmSettings">
                            <div class="form-row">
                                <div class="col-lg-12 mb-3">
                                    <h3>Geral</h3>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationServer01">Domínio</label>
                                    <input type="text" class="form-control is-valid" id="domainName" placeholder="Domain"  v-model="model.domainName" value="localhost" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationServer01">Site Title</label>
                                    <input type="text" class="form-control is-valid" id="siteTitle" placeholder="Title" v-model="model.siteTitle" value="Meu Site" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-12 mb-3">
                                    <h3>Contato</h3>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationServer01">Email</label>
                                    <input type="text" class="form-control is-valid" id="contactEmail" placeholder="Email" v-model="model.contactEmail" value="" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationServer01">Assunto</label>
                                    <input type="text" class="form-control is-valid" id="contactSubject" placeholder="Assunto" v-model="model.contactSubject" value="" required>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationServer01">Servidor</label>
                                    <input type="text" class="form-control is-valid" id="contactServerName" placeholder="Servidor SMTP" v-model="model.contactServerName" value="" required>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationServer01">Porta</label>
                                    <input type="text" class="form-control is-valid" id="contactServerPort" placeholder="Porta" v-model="model.contactServerPort" value="25" required>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationServer01">Habilitar SSL</label>
                                    <select class="form-control is-valid" id="contactUseSSL" placeholder="SSL" v-model="model.contactUseSSL" value="" required>
                                        <option value="1">Sim</option>
                                        <option value="0">Não</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationServer01">Mensagem HTML</label>
                                    <select class="form-control is-valid" id="contactBodyHtml" placeholder="Mensagem HTML" v-model="model.contactBodyHtml" value="" required>
                                        <option value="1">Sim</option>
                                        <option value="0">Não</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationServer01">Usuário</label>
                                    <input type="text" class="form-control is-valid" id="contactUser" placeholder="Usuário" v-model="model.contactUser" value="" required>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationServer01">Senha</label>
                                    <input type="password" class="form-control is-valid" id="contactPassword" placeholder="Senha" v-model="model.contactPassword" value="" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationServer02">Google Maps Link</label>
                                    <input type="text" class="form-control is-valid" id="googleMapsLink" placeholder="" v-model="model.googleMapsLink" value="" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationServer02">Endereço(s)</label>
                                    <textarea rows="2" class="form-control is-valid" id="addresses" placeholder="" v-model="model.addresses" value="" required></textarea>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationServer02">Telefone(s)</label>
                                    <textarea rows="2" class="form-control is-valid" id="phones" placeholder="" v-model="model.phones" value="" required></textarea>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-lg-12 mb-3">
                                    <h3>Plugins</h3>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationServer02">Google Analitycs</label>
                                    <textarea rows="2" class="form-control is-valid" id="googleAnalitycs" placeholder="" v-model="model.googleAnalitycs" value="" required></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationServer02">Share It</label>
                                    <textarea rows="2" class="form-control is-valid" id="shareIt" placeholder="" v-model="model.shareIt" value="" required></textarea>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-lg-12 mb-3">
                                    <h3>Segurança</h3>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationServer01">Usuário Administrador</label>
                                    <input type="text" class="form-control is-valid" id="adminUser" placeholder="user@gmail.com" v-model="model.adminUser" value="" required>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationServer01">Senha de Acesso</label>
                                    <input type="password" class="form-control is-valid" id="adminPassword" placeholder="Senha" v-model="model.adminPassword" value="" required>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit" @click="saveSettings">Gravar Configurações</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    

    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/cms.js"></script>
    <!-- Menu Toggle Script -->
    <script>

        new Vue({
            el: '.app',
            data: {
                model: {}
            },
            mounted() {
                axios
                    .get('api/settings')
                    .then(response => {
                        this.model = response.data;
                        console.log('settings', this.model)
                    })
                    .catch(error => {
                        console.log(error)
                    });
            },
            methods: {
                saveSettings: function () {
                    axios
                        .post('api/settings', this.model)
                        .then(response => {
                            this.model = response.data;
                            console.log('settings', this.model)
                        })
                        .catch(error => {
                            console.log(error)
                        });
                },
                republishFiles: function () {
                     axios
                        .post('api/settings', this.model)
                        .then(response => {
                            this.model = response.data;
                            console.log('settings', this.model)
                        })
                        .catch(error => {
                            console.log(error)
                        });
                }
            }
        });

    </script>


</body>
</html>