<div class="sidebar-heading">CMS</div>
<div class="list-group list-group-flush">
    <a href="dashboard.html" class="list-group-item list-group-item-action bg-light">Dashboard</a>
    <a href="menus.html" class="list-group-item list-group-item-action bg-light">Menus</a>
    <a href="pages.html" class="list-group-item list-group-item-action bg-light">Páginas</a>
    <a href="contacts.html" class="list-group-item list-group-item-action bg-light">Contatos</a>
    <a href="users.html" class="list-group-item list-group-item-action bg-light">Usuários</a>
    <a href="settings.html" class="list-group-item list-group-item-action bg-light">Configurações</a>
</div>